<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>About | Angga Asriyanto — Web Developer</title>
</head>
<body>

    <div class="navbars">   
        <nav class="nav top">
            <div class="project link enter">
                <a href="projects">Projects.</a>
                <button class="menu"><i class="fas fa-bars"></i></button>
            </div>
            <div class="home link enter">
                <a id="home" href="/">AA.</a>
            </div>
            <div class="about link enter active">
                <a href="about">About</a>
            </div>
        </nav>

        <nav class="nav bottom">
            <div class="email enter">
                <button class="btn-click btn"><i class="fas fa-arrow-circle-up"></i></button>
                <div class="link-info enter">
                    <a class="my-link show" href="mailto:anggawebdev@gmail.com">anggawebdev@gmail.com</a>
                    <a class="my-link" href="https://www.linkedin.com/in/angga-asriyanto-web-dev/">Linkedin</a>
                </div>
            </div>
            <p class="local-time enter" href="#">Local time: 0:00 (am) - Mon</p>
        </nav>
    </div>

    <main>
        <div class="main-focus">
            <div class="page">
                <div class="heading">
                    <h1><span>Full-Stack</span> <span>Web Developer</span> <span>from Indonesia</span></h1>
                </div>

                <div class="photo-container">
                    <div class="photo">
                        <div class="hide"></div>
                        <div class="after pp"></div>
                        <img class="pp" src="/images/Angga adjus.png" alt="Angga Asriyanto">
                    </div>

                    <div class="name">WANTED</div>
                </div>
            </div>
            <div class="page">
                <div class="hello info-about">
                    <h1>Hello</h1>

                    <div class="text">
                        <p>
                           My name is Angga Asriyanto, I am a full-stack web developer from Indonesia. Creating a website that works well and has a beautiful design is my responsibility, goal, and pleasure. I love designing websites even though I am not a designer. The style I like is minimalist because it is simple but pays more attention to small details.
                        </p>
    
                        <p>
                            My 1+ year of experience in this field has developed me to work more efficiently, quickly, and easily in dealing with problems. 
                            The web technologies that I master include HTML, CSS, javascript, node.js, MongoDB, Postman, Git and Github. I also learned python language and understand a little bit about data science.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <div class="bars-menu">
        <div class="link-box">
            <div class="link-m">
                <a class="about-m fm"  href="about">About.</a>
                <a class="projects-m fm"  href="projects">Projects</a>
            </div>

            <div class="email-m">
                <div class="link-info-m"> 
                    <a class="fm my-link-m show" href="mailto:anggazxcasd@gmail.com">anggazxcasd<span>@</span>gmail.com</a>
                    <a class="my-link-m fm" href="mailto:halo@gmail.com">Linkedin</a>
                </div>
                <button class="btn-click"><i class="fas fa-arrow-circle-down"></i></button>
            </div>
        </div>
    </div>

    <div class="cursor cursor--small"></div>
    <canvas class="cursor cursor--canvas" resize></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js" integrity="sha512-ovjLI1ZcZe6bw+ImQ21r+sv8q/Vwob2kq7tFidK6E1LWfi0T4uobbmpfEU1//a9h9o5Kkt+MnMWf6rWlg0EiMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js" integrity="sha512-UFPpekaMf0TrCIkPv9mRT3reo/HzSjkOLq57Rtzb+E1ej1TRUOes6J/Ge4uZXyxWA9b4i5DqSZns79YaUoJ2kA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/about.js"></script>
</body>
</html>