<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <title>Projects | Angga Asriyanto — Web Developer</title>
</head>
<body>

    <div class="navbars">   
        <nav class="nav top">
            <div class="project link enter active">
                <a href="projects">Projects</a>
                <button class="menu"><i class="fas fa-bars"></i></button>
            </div>
            <div class="home link enter">
                <a id="home" href="/">AA.</a>
            </div>
            <div class="about link enter">
                <a href="about">About.</a>
            </div>
        </nav>

        <nav class="nav bottom">
            <div class="email enter">
                <button class="btn-click btn"><i class="fas fa-arrow-circle-up"></i></button>
                <div class="link-info enter">
                    <a class="my-link show" href="mailto:anggazxcasd@gmail.com">anggazxcasd@gmail.com</a>
                    <a class="my-link" href="mailto:halo@gmail.com">Linkedin</a>
                </div>
            </div>
            <p class="local-time enter" href="#">Local time: 0:00 (am) - Mon</p>
        </nav>
    </div>

    <main>
        <div class="main-focus">
            <div class="projects">

                <div class="my-project click">
                    <div class="img-desktop mp">
                        <div class="img-container">
                            <img src="/images/yellcamp_info/yellcamp_desktop.png" alt="yellcamp desktop" class="img-pic">
                            <h4 class="idx"><span></span></h4>
                            <div class="img-title">
                                <h4>Yellcamp</h4>
                            </div>
                        </div>
                    </div>

                    <div class="img-info mp">
                        <h1 class="info-title imgif">Yellcamp</h1>
                        <small class="year imgif">2020</small>
                        <p class="info-description imgif">This is the first website that I created from the web developer course I have completed,  this website is just a prototype to improve backend skills and focuses on campers who want to share and find camping info from around the world.</p>
                        <a class="link-out imgif" href="https://yellcamp.herokuapp.com/">Visit Website <span><i class="fas fa-arrow-up"></i></span></a>
                    </div>

                    <div class="img-mobile mp">
                        <div class="img-container">
                            <div class="img-mobile-1 imc">
                                <img src="/images/yellcamp_info/yellcamp_m1.png" alt="yellcamp mobile" class="img-m1 im">
                            </div>
                            <div class="img-mobile-2 imc">
                                <img src="/images/yellcamp_info/yellcamp_m2.png" alt="yellcamp mobile" class="img-m2 im">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-project click">
                    <div class="img-desktop mp" >
                        <div class="img-container">
                            <img src="/images/my_website_info/Angga Asriyanto Desktop.png" alt="" class="img-pic">
                            <h4 class="idx"><span></span></h4>
                            <div class="img-title">
                                <h4 class="min">anggaasriyanto</h4>
                            </div>
                        </div>
                    </div>

                    <div class="img-info mp">
                        <h1 class="info-title imgif">AA</h1>
                        <small class="year imgif">2021</small>
                        <p class="info-description imgif">This is the website you are currently visiting and the first website I created without any course help, at least needed
                            almost three months to perfect it. My website aims to improve my frontend and branding skills as a full-stack developer.</p>
                        <a class="link-out imgif" href="#">Visit Website <span><i class="fas fa-arrow-up"></i></span></a>
                    </div>

                    <div class="img-mobile mp">
                        <div class="img-container">
                            <div class="img-mobile-1 imc">
                                <img src="/images/my_website_info/Angga Asriyanto m1.png" alt="" class="img-m1 im">
                            </div>
                            <div class="img-mobile-2 imc">
                                <img src="/images/my_website_info/Angga Asriyanto m2.png" alt="" class="img-m2 im">
                            </div>
                        </div>
                    </div>
                </div>
        
                <button class="side btn enter" id="btn-left"><i class="fas fa-chevron-left"></i></button>
                <button class="side btn enter" id="btn-right"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </main>

    <div class="bars-menu">
        <div class="link-box">
            <div class="link-m">
                <a class="about-m fm"  href="about">About</a>
                <a class="projects-m fm"  href="projects">Projects.</a>
            </div>

            <div class="email-m">
                <div class="link-info-m"> 
                    <a class="fm my-link-m show" href="mailto:anggazxcasd@gmail.com">anggazxcasd<span>@</span>gmail.com</a>
                    <a class="my-link-m fm" href="mailto:halo@gmail.com">Linkedin</a>
                </div>
                <button class="btn-click"><i class="fas fa-arrow-circle-down"></i></button>
            </div>
        </div>
    </div>

    <div class="cursor cursor--small"></div>
    <canvas class="cursor cursor--canvas" resize></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js" integrity="sha512-ovjLI1ZcZe6bw+ImQ21r+sv8q/Vwob2kq7tFidK6E1LWfi0T4uobbmpfEU1//a9h9o5Kkt+MnMWf6rWlg0EiMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js" integrity="sha512-UFPpekaMf0TrCIkPv9mRT3reo/HzSjkOLq57Rtzb+E1ej1TRUOes6J/Ge4uZXyxWA9b4i5DqSZns79YaUoJ2kA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/projects.js"></script>

</body>
</html>